$c-white:#FFFFFF;
$c-black0:#000000;
$c-black3:#333333;
$c-black4:#444444;
$c-gray6:#666666;
$c-gray8:#888888;
$c-gray9:#999999;
$c-search-gray:#F5F5F5;
$c-space-gray:#FAFAFA;
$c-orange:#E9A45A;
$c-lightOrange:#FAE9D8;
$c-line:#EAEAEA;
$c-password:#BBBBBB;
$c-login-btn:#DDDDDD;
$c-login-type:#242121;

