
   
    @mixin bg-img($url,$size) {
      background-image: url("#{$url}.png");
      background-size: $size;
      background-repeat: no-repeat;
      // 媒体查询如果是三倍图手机,使用@3x的图片
      @media (-webkit-min-device-pixel-ratio: 3), 
      (-o-min-device-pixel-ratio: 3),
      (-ms-min-device-pixel-ratio: 3),
      (-moz-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
        background-image: url("#{$url}@2x.png");
      }
    }
    @mixin img-type2(){
      display:inline-block;
      width:2.2rem;
      height:2.2rem;
     
      @media (-webkit-min-device-pixel-ratio: 3), 
      (-o-min-device-pixel-ratio: 3),
      (-ms-min-device-pixel-ratio: 3),
      (-moz-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
     display:none;
   
      }
    }
    @mixin img-type3(){
      display:none;
      @media (-webkit-min-device-pixel-ratio: 3), 
      (-o-min-device-pixel-ratio: 3),
      (-ms-min-device-pixel-ratio: 3),
      (-moz-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
     
     display:inline-block;
      width:2.2rem;
      height:2.2rem;
     
   
      }
    }
  

    //bg-img-list
    @mixin bg-img-list($num,$size) {
      background-image: url("/images/home_icon_#{$num}.png");
      background-size: $size;
      background-repeat: no-repeat;
      // 媒体查询如果是三倍图手机,使用@3x的图片
      @media (-webkit-min-device-pixel-ratio: 3), 
      (-o-min-device-pixel-ratio: 3),
      (-ms-min-device-pixel-ratio: 3),
      (-moz-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
        background-image: url("/images/home_icon_#{$num}@2x.png");
      }
    }
    // gray-space
  @mixin space-height($h) {
    height:$h;
  }
  
  // @mixin bg-img-goods($url,$size) {
  //   background-image: url("http://112.74.60.113/cosmetic#{$url}");
  //   background-size: $size;
  //   background-repeat: no-repeat;
  // }

//top title
@mixin title(){
    margin:0;
    width:100%;
    height:2.75rem;
    text-align: center;
    line-height:2.75rem;
    font-size: $fs-18;
   font-weight: 700;
    color: $c-black3;

}

//i
@mixin i($w, $h ,$color){
  display:inline-block;
  width:$w;
  height:$h;
  vertical-align: middle;
  background:$color;
 
}


